{{> head}}
{{> navbar }}

    
    <div class="row">
        <div class="col-8">
            <h1>This is the about page</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente architecto quod odio at voluptatum pariatur cum officia dolores tempora et, officiis dicta consectetur, dolorum soluta delectus alias eveniet maiores amet.</p>
        </div>
        <div class="col-4">
            <img src="assets/images/mmm.jpg"  class="img-thumbnail">
        </div>
    </div>

{{> footer}}